<div id="<%= dom_id user %>">
  <p>
    <strong>U name:</strong>
    <%= user.u_name %>
  </p>

  <p>
    <strong>U user name:</strong>
    <%= user.u_user_name %>
  </p>

  <p>
    <strong>U password:</strong>
    <%= user.password %>
  </p>

</div>
